In [2]:
people = {
    "First":['Winnie','Pig','Monkey','Baby'],
    "Last":["Yu","Yu","Yu","Yu"],
    "email":["winnie.yu.ca@gmail.com","David.yu.ca@gmail.com","Sophia.yu.ca@gmail.com","Helen.yu.ca@gmail.com"]
}

In [3]:
people["email"]

['winnie.yu.ca@gmail.com',
 'David.yu.ca@gmail.com',
 'Sophia.yu.ca@gmail.com',
 'Helen.yu.ca@gmail.com']

In [4]:
import pandas as pd
df = pd.DataFrame(people)
df

    First Last                   email
0  Winnie   Yu  winnie.yu.ca@gmail.com
1     Pig   Yu   David.yu.ca@gmail.com
2  Monkey   Yu  Sophia.yu.ca@gmail.com
3    Baby   Yu   Helen.yu.ca@gmail.com

In [5]:
df["email"]

0    winnie.yu.ca@gmail.com
1     David.yu.ca@gmail.com
2    Sophia.yu.ca@gmail.com
3     Helen.yu.ca@gmail.com
Name: email, dtype: object

In [6]:
type(df["email"])

pandas.core.series.Series

In [7]:
df.email

0    winnie.yu.ca@gmail.com
1     David.yu.ca@gmail.com
2    Sophia.yu.ca@gmail.com
3     Helen.yu.ca@gmail.com
Name: email, dtype: object

In [8]:
df.count

<bound method DataFrame.count of     First Last                   email
0  Winnie   Yu  winnie.yu.ca@gmail.com
1     Pig   Yu   David.yu.ca@gmail.com
2  Monkey   Yu  Sophia.yu.ca@gmail.com
3    Baby   Yu   Helen.yu.ca@gmail.com>

In [9]:
df[["First","email"]]

    First                   email
0  Winnie  winnie.yu.ca@gmail.com
1     Pig   David.yu.ca@gmail.com
2  Monkey  Sophia.yu.ca@gmail.com
3    Baby   Helen.yu.ca@gmail.com

In [10]:
df.columns

Index(['First', 'Last', 'email'], dtype='object')

In [11]:
df.iloc[[0,1],2]

0    winnie.yu.ca@gmail.com
1     David.yu.ca@gmail.com
Name: email, dtype: object

In [26]:
df.loc[[0,2],['email','Last']]

                    email Last
0  winnie.yu.ca@gmail.com   Yu
2  Sophia.yu.ca@gmail.com   Yu

In [27]:
df.iloc[1,[2,1]]

email    David.yu.ca@gmail.com
Last                        Yu
Name: 1, dtype: object